*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    height: 100px;
    margin:0, 0px 0px 0px;
    background-color: lightskyblue;
}

a{
    cursor: pointer;
}

.nav-bar span{
    display: inline-block;
    padding-left: 40px;
}

.nav-bar-title{
    width: 30%;
    float: left;   
    color: wheat;
    text-align: center;
}

.nav-bar-items {
    width: 70%;
    float: right;
    text-align: right;
    padding-right: 40px;
}

.logo{
    width: 100px;
}

ul li{
    list-style-type: none;
    display: inline-block;	
    margin: 0 10px;
    padding-top: 10px ;
}

.nav-bar-items img{
    width: 80px;
    height: 80px;
}




@media screen and (max-width: 900px) {
    .logo{
        width: 100px;
    }

    .nav-bar-items img{
        width: 80px;
        height: 80px;
    }

    ul li{
        padding-top: 10px ;
        margin: 0 10px;
    }
    
}




@media screen and (max-width: 600px) {

    .nav-bar-items img{
        width: 60px;
        height: 60px;
    }

    ul li{
        padding-top: 20px ;
        margin: 20 20px;
    }
}



@media screen and (max-width: 480px) {

    .nav-bar-items img{
        width: 50px;
        height: 50px;
    }

    ul li{
        padding-top: 20px ;
        margin: 20 20px;
    }
    
    .nav-bar-items {
        padding-right: 0;
    }
}


@media screen and (max-width: 360px) {

    .nav-bar-items img{
        width: 40px;
        height: 40px;
    }

}