*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    background-color: blue;
}

.nav-bar-title{
    width: 20%;
    float: left;
    font-weight: 700;
    color: wheat;
}

.nav-bar-items {
    width: 70%;
    float: right;
}

a{
	text-decoration: none;
}

ul li{
    list-style-type: none;
	display: inline-block;	
}

